html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: white;
  --primary-text-size: 1rem;
  --primary-text-shadow: 2px 2px 8px white;
  --primary-font-family: Arial, Helvetica, sans-serif;
  --secondary-text-color: black;
}

body {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  font-family: var(--primary-font-family);
  margin-top: 3rem;
  color: var(--primary-text-color);
  font-weight: bold;
  text-shadow: var(--primary-text-shadow);
}

.header > span {
  color: black;
  text-shadow: var(--primary-text-shadow);
}

.hero {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: var(--primary-text-shadow);
  font-family: var(--primary-font-family);
  text-align: center;
  height: 90vh;
  font-size: 1.5rem;
  padding-bottom: 30rem;
  flex-grow: 1;
}

.hero-welcome > span {
  color: var(--secondary-text-color);
  font-weight: bold;
}

.hero-quote {
  color: gray;
  text-shadow: 2px 2px 4px black;
  padding-top: 1rem;
}

input {
  color: var(--primary-text-color);
  border-radius: 0.5rem;
  width: 100%;
  width: 25rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 5rem;
  padding: 1rem;
  font-weight: bold;
  font-size: var(--primary-text-size);
}

.submit-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 1rem;
  position: relative;
  right: 3rem;
  z-index: 10;
  cursor: pointer;
}

footer {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  text-shadow: 4px 4px 4px black;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

.main-container {
  background-color: #008000;
  z-index: 10;
  width: 75vw;
  height: 75vh;
  display: flex;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  text-shadow: var(--primary-text-shadow);
}

.overview-container {
  background-image: url(./images/sky.jpg);
  background-size: cover;
  height: 100%;
  width: 50%;
  padding: 2rem;
  display: flex;
}

.overview-header-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.overview-header-container > p {
  position: relative;
  left: 37%;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
}

.overview-temperature-container {
  position: relative;
  top: 80%;
  right: 60%;
  height: 50px;
  font-size: 6rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.today-container {
  background-color: blue;
  height: 75%;
  width: 100%;
}

.forecast-container {
  background-color: purple;
  height: 25%;
  width: 100%;
}
